<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ATS - Auto Trading Solution</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="../bootstrap/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="../bootstrap/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../bootstrap/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="../bootstrap/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="../bootstrap/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
</head>



<body>
    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Page header -->
                <div class="page-header">
                    <div class="page-header-content">
                        <div class="page-title">
                            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">트레이딩</span> - 거래 설정</h4>
                        </div>
                    </div>
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">
					<!-- Form horizontal -->
                    <div class="row">
                        <div class="panel panel-flat col-md-6">
                            <div class="panel-heading">
                                <h5 class="panel-title">거래 유형 설정</h5>
                            </div>

                            <div class="panel-body">
                                <fieldset class="content-group">
                                    <label class="control-label col-md-2">거래 유형</label>
                                    <div class="col-md-4">
                                        <select name="trade_select" id="trade_select" class="form-control">
                                            <option value="-1000">거래 유형 선택</option>
                                            <option value="AUTOTRADE">자전 거래</option>
                                            <option value="LIQUIDITY">호가 유동성</option>
                                            <option value="FISHING">매매 긁기</option>
                                            <option value="REALTIME_SYNC">실시간 거래</option>
                                        </select>
                                    </div>
                                    <div>
                                        <input onclick="fncObj.getTrade()" type="button" class="btn btn-info"  value="조회">
                                    </div>

                                </fieldset>
                            </div>
                        </div>
                    </div>
					<!-- /form horizontal -->

                    <!-- Basic table -->
                    <div class="row">
                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h5 class="panel-title text-bold">거래 정보</h5>
                                <div class="heading-elements">
                                    <ul class="icons-list">
                                        <li><a data-action="collapse"></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="panel-body">
                            </div>
                            <div class="table-responsive">
                                <table id="trade_table" class="table table-bordered table-striped"></table>
                            </div>
                        </div>
                    </div>
                    <!-- /basic table -->
                    <!-- Footer -->
                    <div class="footer text-muted">
                    </div>
                    <!-- /footer -->

                </div>
                <!-- /content area -->
            </div>
            <!-- /main content -->
        </div>
    </div>

</body>



<!-- Core JS files -->
<script type="text/javascript" src="../bootstrap/assets/js/plugins/loaders/pace.min.js"></script>
<script type="text/javascript" src="../bootstrap/assets/js/core/libraries/jquery.min.js"></script>
<script type="text/javascript" src="../bootstrap/assets/js/core/libraries/bootstrap.min.js"></script>
<script type="text/javascript" src="../bootstrap/assets/js/plugins/loaders/blockui.min.js"></script>
<script type="text/javascript" src="../bootstrap/assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript" src="../common/js/datatables_basic.js"></script>
<!-- /core JS files -->

<!-- Theme JS files -->
<script type="text/javascript" src="../bootstrap/assets/js/plugins/forms/styling/uniform.min.js"></script>
<script type="text/javascript" src="../bootstrap/assets/js/plugins/editors/wysihtml5/wysihtml5.min.js"></script>
<script type="text/javascript" src="../bootstrap/assets/js/plugins/editors/wysihtml5/toolbar.js"></script>
<script type="text/javascript" src="../bootstrap/assets/js/plugins/editors/wysihtml5/parsers.js"></script>
<script type="text/javascript" src="../bootstrap/assets/js/plugins/editors/wysihtml5/locales/bootstrap-wysihtml5.ua-UA.js"></script>
<script type="text/javascript" src="../bootstrap/assets/js/plugins/notifications/jgrowl.min.js"></script>

<script type="text/javascript" src="../bootstrap/assets/js/plugins/notifications/pnotify.min.js"></script>
<script type="text/javascript" src="../bootstrap/assets/js/core/app.js"></script>
<script type="text/javascript" src="../bootstrap/assets/js/pages/editor_wysihtml5.js"></script>
<script type="text/javascript" src="../bootstrap/assets/js/pages/components_notifications_pnotify.js"></script>
<script type="text/javascript" src="../bootstrap/assets/js/pages/extension_blockui.js"></script>
<!-- /theme JS files -->

<!-- Common Lib -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="../common/js/commonScript.js"></script>
<!-- /Common Lib -->


<script>

    const DELETE             = "DELETE";
    const INSERT             = "INSERT";
    const UPDATE             = "UPDATE";

    let autotradeColumn = [
        {title: "id",   orderable: true},
        {title: "거래소",   orderable: true},
        {title: "코인",   orderable: true},

        {title: "수량",   orderable: true},
        {title: "시간",   orderable: true},

        {title: "모드",   orderable: true},
        {title: "상태",   orderable: true},
        {title: "동작",   orderable: true},
        {title: "삭제",   orderable: true},
    ];

    let liquidityColumn = [
        {title: "id",   orderable: true},
        {title: "거래소",   orderable: true},
        {title: "코인",   orderable: true},

        {title: "수량",   orderable: true},
        {title: "시간",   orderable: true},
        {title: "랜덤틱수",   orderable: true, width:150},
        {title: "틱간격",   orderable: true},
        {title: "수동틱",   orderable: true},

        {title: "모드",   orderable: true},
        {title: "상태",   orderable: true},
        {title: "동작",   orderable: true},
        {title: "삭제",   orderable: true},
    ];

    let fishingColumn = [
        {title: "id",   orderable: true},
        {title: "거래소",   orderable: true},
        {title: "코인",   orderable: true},

        {title: "주문 범위",   orderable: true},
        {title: "체결 범위",   orderable: true},
        {title: "시간 범위",   orderable: true, width:150},
        {title: "활성틱수",   orderable: true},
        {title: "틱간격",   orderable: true},

        {title: "모드",   orderable: true},
        {title: "상태",   orderable: true},
        {title: "동작",   orderable: true},
        {title: "삭제",   orderable: true},
    ];

    let realtimeSyncColumn = [
        {title: "id",   orderable: true},
        {title: "거래소",   orderable: true},
        {title: "코인",   orderable: true},

        {title: "동기화 코인",   orderable: true},
        {title: "동기화 주기",   orderable: true},
        {title: "지지/저항선 가격",   orderable: true, width:200},
        {title: "최대 거래 수량",   orderable: true, width:200},
        {title: "가격변동 %",   orderable: true},

        {title: "상태",   orderable: true},
        {title: "동작",   orderable: true},
        {title: "삭제",   orderable: true},
    ];


    let tradeList   = [];
    let clickedRow  = '';

    /** table row click 시 발생하는 이벤트 **/
    $('#trade_table').on('click', 'tr', function () {
        clickedRow = $('#trade_table').DataTable().row(this).data();
    })

    // init page
    $(document).ready(() => {
        fncObj.initPage();
    })


    /** Function object **/
    let fncObj = {

        // 페이지 로드 시 초기값 셋팅을 위한 함수
        initPage : async () => {
            loginUserId = $('#server_user_id').val();                   // Set user id
        },

        // trade type 에 따라 리스트 조회
        getTradeByType : async (type) => {
            let returnVal;
            if (type === TRADE_LIST.AUTOTRADE){
                returnVal = await common.get(API.AUTO_TRADE);
            }else if (type === TRADE_LIST.LIQUIDITY){
                returnVal = await common.get(API.LIQUIDITY);
            }else if (type === TRADE_LIST.FISHING){
                returnVal = await common.get(API.FISHING);
            }else if (type === TRADE_LIST.REALTIME_SYNC){
                returnVal = await common.get(API.REALTIME_SYNC);
            }

            if(returnVal.data != null){
                tradeList = returnVal.data;
                common.noti("거래 유형 조회","거래 정보들을 조회하였습니다.","success");
                dataObj.makeTradeTable();
            }
        },

        getTrade : () => {
            let type = $('#trade_select option:selected').val();
            if (type == -1000){
                return common.noti("거래 유형 조회","거래 유형을 선택해주세요.","error");
            }else{
                dataObj.clearTradeTable();
                fncObj.getTradeByType(type);
            }
        },

        postTrade : async (mode, runType, tradeId) => {
            let api;
            let title;
            if (mode === TRADE_LIST.AUTOTRADE){
                api   = API.AUTO_TRADE;
                title = "자전 거래";
            }else if (mode === TRADE_LIST.LIQUIDITY){
                api = API.LIQUIDITY;
                title = "호가 유동성";
            }else if (mode === TRADE_LIST.FISHING){
                api = API.FISHING;
                title = "매매 긁기";
            }else if (mode === TRADE_LIST.REALTIME_SYNC){
                api =API.REALTIME_SYNC;
                title = "실시간 동기화";
            }

            params = {
                id: tradeId,
                status: runType
            }
            let returnVal = await common.post(api, params);
            if (returnVal !== null) {
                if (runType === TRADE_STATUS.DELETE) {
                    common.noti(title, "해당 거래가 삭제 됩니다.", "success");
                } else if (runType === TRADE_STATUS.STOP) {
                    common.noti(title, "해당 거래가 정지 됩니다.", "success");
                } else if (runType === TRADE_STATUS.RUN) {
                    common.noti(title, "해당 거래가 시작 됩니다.", "success");
                }
                fncObj.getTrade();
            }else{
                if (runType === TRADE_STATUS.DELETE){
                    common.noti(title,"해당 거래가 정상적으로 삭제되지 않았습니다.\n로그아웃 후 다시 시도해주세요.","error");
                }else if (runType === TRADE_STATUS.STOP){
                    common.noti(title,"해당 거래가 정상적으로 정지되지 않았습니다.\n로그아웃 후 다시 시도해주세요.","error");
                }else if (runType === TRADE_STATUS.RUN){
                    common.noti(title,"해당 거래가 정상적으로 시작되지 않았습니다.\n로그아웃 후 다시 시도해주세요.","error");
                }
            }
        }
    };
    /** Function object **/




    /** Function object for data setter / getter **/
    let dataObj = {

        // Data table clear method
        clearTradeTable : () => {
            $('#trade_table').DataTable().destroy();
            $('#trade_table').empty();
        },

        makeTradeTable : () => {
            let dataSet = dataObj.makeTradeTableArr();

            let type = $('#trade_select option:selected').val();
            let tableColumn;
            if (type === TRADE_LIST.AUTOTRADE){
                tableColumn = autotradeColumn;
            }else if (type === TRADE_LIST.LIQUIDITY){
                tableColumn = liquidityColumn;
            }else if (type === TRADE_LIST.FISHING){
                tableColumn = fishingColumn;
            }else if (type === TRADE_LIST.REALTIME_SYNC){
                tableColumn = realtimeSyncColumn;
            }

            $('#trade_table').DataTable({
                data: dataSet,
                columns: tableColumn
            });
        },

        makeTradeTableArr : () => {
            parseTrade = [];
            let type = $('#trade_select option:selected').val();

            tradeList.forEach((item, index) => {
                let innerTrade = [];

                // Set Button
                let runBtn  = `<input onclick="fncObj.postTrade('${type}', '${TRADE_STATUS.RUN}',    ${item.id});" type="button" class="btn btn-info"    value="시작">`;
                let stopBtn = `<input onclick="fncObj.postTrade('${type}', '${TRADE_STATUS.STOP}',   ${item.id});" type="button" class="btn btn-warning" value="정지">`;
                let delBtn  = `<input onclick="fncObj.postTrade('${type}', '${TRADE_STATUS.DELETE}', ${item.id});" type="button" class="btn btn-danger"  value="삭제">`

                // Set Common
                innerTrade.push(item.id);
                innerTrade.push(item.exchange.exchangeName);
                innerTrade.push(item.coin);

                if (type === TRADE_LIST.AUTOTRADE){
                    innerTrade.push(`${item.minCnt} ~ ${item.maxCnt}`);
                    innerTrade.push(`${item.minSeconds} ~ ${item.maxSeconds}`);
                    innerTrade.push(item.mode);
                }else if (type === TRADE_LIST.LIQUIDITY){
                    innerTrade.push(`${item.minCnt} ~ ${item.maxCnt}`);
                    innerTrade.push(`${item.minSeconds} ~ ${item.maxSeconds}`);
                    innerTrade.push(item.randomTick);
                    innerTrade.push(item.rangeTick);
                    innerTrade.push(item.selfTick);
                    innerTrade.push(item.mode);
                }else if (type === TRADE_LIST.FISHING){
                    innerTrade.push(`${item.minContractCnt} ~ ${item.maxContractCnt}`);
                    innerTrade.push(`${item.minExecuteCnt} ~ ${item.maxExecuteCnt}`);
                    innerTrade.push(`${item.minSeconds} ~ ${item.maxSeconds}`);
                    innerTrade.push(item.tickCnt);
                    innerTrade.push(item.rangeTick);
                    innerTrade.push(item.mode);
                }else if (type === TRADE_LIST.REALTIME_SYNC){
                    innerTrade.push(`${item.syncCoin}`);
                    innerTrade.push(`${item.syncTime}`);
                    innerTrade.push(`${item.minPrice} ~ ${item.maxPrice}`);
                    innerTrade.push(`${item.limitTradeCnt}`);
                    innerTrade.push(item.pricePercent);
                }

                innerTrade.push(item.status);
                // 동작 버튼
                (item.status !== 'STOP') ? innerTrade.push(stopBtn) : innerTrade.push(runBtn);
                innerTrade.push(delBtn);    // 삭제 버튼

                parseTrade.push(innerTrade);
            });

            return parseTrade;
        },
        /***** Make Data table End *****/
    }
    /** Function object for data setter,getter **/


   

</script>



<input type="hidden" id="server_user_id" th:value="${userId}" />
