<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ATS - Auto Trading Solution</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="../bootstrap/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="../bootstrap/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../bootstrap/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="../bootstrap/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="../bootstrap/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
</head>

<style>
    .row {
        margin-bottom:7px;
    }
    
    .ask-header {
        background-color: #E6EBFF;
        color:blue;
    }

    .ask-body {
        color:blue;
    }

    .bid-header {
        background-color: #FFE7E9;
        color:red;
    }

    .bid-body {
        color : red;
    }

    .table > tbody > tr > td {
        padding: 6px 10px;
        line-height: 1.5384616;
    }
</style>

<body>
    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">
            <div class="content-wrapper">
                <!-- Page header -->
                <div class="page-header">
                    <div class="page-header-content">
                        <div class="page-title">
                            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">트레이딩</span> - 기본 거래</h4>
                        </div>
                    </div>
                </div>
                <!-- /page header -->

                <!-- Content area -->
                <div class="content">
                    <!-- bot field -->
                    <div class="row">
                        <div class="col-md-8">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h5 class="panel-title text-bold">코인 설정</h5>
                                    <div class="heading-elements">
                                        <ul class="icons-list">
                                            <li><a data-action="collapse"></a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="panel-body">
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <label class="text-bold" for="filter_exchange">거래소</label>
                                            <select name="fSpot" id="filter_exchange" class="form-control">
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label class="text-bold" for="filter_coin">코인</label>
                                            <select name="fSpot" id="filter_coin" class="form-control"></select>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel">
                                <div class="panel-body" style="border: 0.2rem solid; background-color:red">
                                    <div class="form-inline" style="height:92px; text-align:center; padding:30px;">
                                        <h4 class="panel-title text-bold" id="coin_user_id" style="color:white;"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /bot field -->

                    <!-- 2 columns form -->
                    <div class="row">
                        <div class="col-md-8">

                            <div class="panel panel-flat">
                                <div class="panel-heading" style="text-align:center; height:313px; padding:100px 0">
                                    <span id="coin_name" style="text-align: center; font-size: 70px;">
                                        Coin
                                    </span>
                                </div>
                            </div>

                            <div style="padding:0px 10px 0px 10px; background-color:#f5f5f5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-sm-3" style="border: 0.2rem solid; background-color:dodgerblue; border-color:black; color:white; text-align:center; font-size:15px;">
                                                    보유 자산
                                                </div>
                                                <div class="col-sm-8" id="total_asset" style="margin-left:10px; border: 0.2rem solid; background-color:lightskyblue; border-color:black; color:white; text-align:center; font-size:15px;">
                                                    0
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-sm-3" style="border: 0.2rem solid; background-color:dodgerblue; border-color:black; color:white; text-align:center; font-size:15px;">
                                                    사용 가능
                                                </div>
                                                <div class="col-sm-8" id="available_asset" style="margin-left:10px; border: 0.2rem solid; background-color:lightskyblue; border-color:black; color:white; text-align:center; font-size:15px;">
                                                    0
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-sm-3" style="border: 0.2rem solid; background-color:red; border-color:black; color:white; text-align:center; font-size:15px;">
                                                    보유 코인
                                                </div>
                                                <div class="col-sm-8" id="total_coin_asset" style="margin-left:5px; border: 0.2rem solid; background-color:lightskyblue; border-color:black; color:white; text-align:center; font-size:15px;">
                                                    0
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-sm-3" style="border: 0.2rem solid; background-color:red; border-color:black; color:white; text-align:center; font-size:15px;">
                                                    사용 가능
                                                </div>
                                                <div class="col-sm-8" id="available_coin_asset" style="margin-left:5px; border: 0.2rem solid; background-color:lightskyblue; border-color:black; color:white; text-align:center; font-size:15px;">
                                                    0
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-flat">
                                <div class="panel-body">
                                    <div class="row">
                                        <!-- 매수 -->
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">매수 가격</label>
                                                    <div class="radio col-sm-8" style="margin-top:0px;">
                                                        <input id="trade_buy_price" type="text" value="0" class="form-control" min="0" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">매수량</label>
                                                    <div class="radio col-sm-8" style="margin-top:0px;">
                                                        <input id="trade_buy_cnt" type="text" value="0" class="form-control" min="0" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">거래금액</label>
                                                    <div class="radio col-sm-8" style="margin-top:0px;">
                                                        <input id="trade_buy_total_price" type="text" value="0" class="form-control" min="0" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <button onclick="fncObj.postTrade(TRADE_ACTION.BUY)" type="submit" class="btn btn-primary col-sm-12">매 수</button>
                                            </div>
                                        </div>
                                        <!-- 매도 -->
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">매도 가격</label>
                                                    <div class="radio col-sm-8" style="margin-top:0px;">
                                                        <input id="trade_sell_price" type="text" value="0" class="form-control" min="0" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">매도량</label>
                                                    <div class="radio col-sm-8" style="margin-top:0px;">
                                                        <input id="trade_sell_cnt" type="text" value="0" class="form-control" min="0" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4">거래금액</label>
                                                    <div class="radio col-sm-8" style="margin-top:0px;">
                                                        <input id="trade_sell_total_price" type="text" value="0" class="form-control" min="0" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <button onclick="fncObj.postTrade(TRADE_ACTION.SELL)" type="submit" class="btn btn-danger col-sm-12">매 도</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4" style="padding:0px;">
                            <div class="panel panel-body" style="padding:0px;">
                                <div class="form-group">
                                    <div class="col-sm-12" style="font-size:11px; padding:0px;">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="text-bold" style="background-color:black; color:white; font-size:15px; text-align:center;">가격</th>
                                                        <th class="text-bold" style="background-color:black; color:white; font-size:15px; text-align:center;">수량</th>
                                                        <th class="text-bold" style="background-color:black; color:white; font-size:15px; text-align:center;">금액</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="modal_coin_price_body">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <!-- /content area -->
            </div>
        </div>
    </div>

</body>



<!-- Core JS files -->
<script type="text/javascript" src="../bootstrap/assets/js/plugins/loaders/pace.min.js"></script>
<script type="text/javascript" src="../bootstrap/assets/js/core/libraries/jquery.min.js"></script>
<script type="text/javascript" src="../bootstrap/assets/js/core/libraries/bootstrap.min.js"></script>
<script type="text/javascript" src="../bootstrap/assets/js/plugins/loaders/blockui.min.js"></script>
<!-- /core JS files -->

<!-- Theme JS files -->
<script type="text/javascript" src="../bootstrap/assets/js/plugins/forms/styling/uniform.min.js"></script>
<script type="text/javascript" src="../bootstrap/assets/js/plugins/editors/wysihtml5/wysihtml5.min.js"></script>
<script type="text/javascript" src="../bootstrap/assets/js/plugins/editors/wysihtml5/toolbar.js"></script>
<script type="text/javascript" src="../bootstrap/assets/js/plugins/editors/wysihtml5/parsers.js"></script>
<script type="text/javascript" src="../bootstrap/assets/js/plugins/editors/wysihtml5/locales/bootstrap-wysihtml5.ua-UA.js"></script>
<script type="text/javascript" src="../bootstrap/assets/js/plugins/notifications/jgrowl.min.js"></script>

<script type="text/javascript" src="../bootstrap/assets/js/plugins/notifications/pnotify.min.js"></script>
<script type="text/javascript" src="../bootstrap/assets/js/core/app.js"></script>
<script type="text/javascript" src="../bootstrap/assets/js/pages/editor_wysihtml5.js"></script>
<script type="text/javascript" src="../bootstrap/assets/js/pages/components_notifications_pnotify.js"></script>
<script type="text/javascript" src="../bootstrap/assets/js/pages/extension_blockui.js"></script>
<!-- /theme JS files -->

<!-- Common Lib -->
<script type="text/javascript" src="../common/js/commonScript.js"></script>
<!-- /Common Lib -->

<!-- -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script>

    const STOP        = "STOP";
    let exchangesList = [];
    let loginUserId   = '';
    let tickSchedule  = '';
    let assetSchedule = '';

    // init page
    $(document).ready(() => {
        fncObj.initPage();
    })


    /** Function object **/
    let fncObj = {

        // 페이지 로드 시 초기값 셋팅을 위한 함수
        initPage : async () => {
            loginUserId = $('#server_user_id').val();                   // Set user id

            let response = await common.get(API.EXCHANGE);              // Get excahgne, coin list
            if(response === null){
                common.noti("거래소 조회","거래소 조회에 실패했습니다.","error");
                return;
            }

            exchangesList = response.data;
            dataObj.setExchangeCoin();                              // Set exchange
        },

        // 호가 조회 함수
        onClickRealPriceBtn : () =>{
            clearInterval(tickSchedule);                                    // 기존 tickSchedule stop
            clearInterval(assetSchedule);                                    // 기존 tickSchedule stop

            if(fncObj.isSlowExchange($('#filter_exchange').val())){
                tickSchedule  = setInterval(fncObj.getTickAndMakeTable, 5000);   // 신규 tickSchedule start
                assetSchedule = setInterval(fncObj.getBalanceAndSetData, 5000);   // 신규 tickSchedule start
            }else{
                tickSchedule  = setInterval(fncObj.getTickAndMakeTable, 1000);   // 신규 tickSchedule start
                assetSchedule = setInterval(fncObj.getBalanceAndSetData, 1000);   // 신규 tickSchedule start
            }
        },

        // 조회가 느린 거래소의경우 조회시간을 느리게 조회
        isSlowExchange: (exchangeId) => {
            if(exchangeId == 13 || exchangeId == 9 || exchangeId == 12){  // 코인스빗, Gateio, xtcom
                return true;
            }
        },

        // 비동기 호가조회 API
        getTickAndMakeTable : () => {
            let filterExchangeNm = $('#filter_exchange').val();
            let coin             = $('#filter_coin').val();

            let url = API.ORDER_BOOK + `?exchange=${filterExchangeNm}&currency=${coin}&userId=${loginUserId}`;
            axios.get(url)
                .then(response => {
                    if (response.data.status === CODE.SUCCESS){
                        console.log(`호가조회 성공! ${new Date()}`, response.data.data);
                        fncObj.makerealPriceTable(response.data.data);
                    }else{
                        console.log(`호가조회 실패! ${new Date()}`, response);
                        common.noti("호가 조회","해당 코인에 대해 현재 호가조회가 불가능합니다.","error");
                        clearInterval(tickSchedule);
                    }
                })
                .catch(error => {
                    console.log(`호가조회 실패! ${new Date()}`, error);
                    common.noti("호가 조회","해당 코인에 대해 현재 호가조회가 불가능합니다.","error");
                    clearInterval(tickSchedule);
                })
        },

        getBalanceAndSetData : () => {
            // Get Balance
            let filterExchangeNm = $('#filter_exchange').val();
            let coin             = $('#filter_coin').val();
            let url              = API.BALANCE + `?exchange=${filterExchangeNm}&currency=${coin}&userId=${loginUserId}`;
            axios.get(url)
                .then(response => {
                    if (response.data.status === CODE.SUCCESS){
                        console.log(`자산조회 성공! ${new Date()}`, response.data.data);
                        fncObj.setAsset(JSON.parse(response.data.data));
                    }else{
                        console.log(`자산조회 실패! ${new Date()}`, response);
                        common.noti("자산 조회","해당 코인에 대해 자산조회가 불가능합니다.","error");
                        clearInterval(assetSchedule);
                        fncObj.clearAsset();
                    }
                })
                .catch(error => {
                    console.log(`자산조회 실패! ${new Date()}`, error);
                    common.noti("자산 조회","해당 코인에 대해 자산조회가 불가능합니다.","error");
                    clearInterval(assetSchedule);
                    fncObj.clearAsset();
                })
        },

        setAsset : data => {
            let selectedExchange = $('#filter_exchange').val();
            let selectedCoin     = $('#filter_coin').val();
            let exchange         = exchangesList.filter(x => x.id === Number(selectedExchange))[0];
            let coin             = exchange.exchangeCoin.filter(x => x.id === Number(selectedCoin.split(';')[1]))[0];

            if (data){
                let currencyMoeny = '';
                let currencyCoin = '';
                data.some(item => {
                    if (!currencyMoeny){
                        currencyMoeny = item[coin.currency]
                            || item[coin.currency.toUpperCase()]
                            || item[coin.currency.toLowerCase()]
                            || '';
                    }
                    if (!currencyCoin){
                        currencyCoin = item[coin.coinCode]
                            || item[coin.coinCode.toUpperCase()]
                            || item[coin.coinCode.toLowerCase()]
                            || '';
                    }
                })

                if (currencyMoeny){
                    $('#total_asset').text(`${currencyMoeny.balance} ${coin.currency}`);
                    $('#available_asset').text(`${currencyMoeny.avail} ${coin.currency}`);
                }
                if (currencyCoin){
                    $('#total_coin_asset').text(`${currencyCoin.balance} ${coin.coinCode}`);
                    $('#available_coin_asset').text(`${currencyCoin.avail} ${coin.coinCode}`);
                }
            }
        },

        clearAsset : () => {
            $('#total_asset').text('0');
            $('#available_asset').text('0');
            $('#total_coin_asset').text('0');
            $('#available_coin_asset').text('0');
        },

        // 호가 조회 시, 데이터 조회 및 셋팅
        makerealPriceTable : (tickList) => {
            $('#modal_coin_price_body').empty();
            let filterExchangeNm = $('#filter_exchange').val();
            let dynamicText      = dataObj.setRealPriceTable(filterExchangeNm, JSON.parse(tickList));
            $('#modal_coin_price_body').append(dynamicText);
        },

        postTrade : async (mode) => {
            // check mode
            let params = fncObj.setDataBeforePost(mode);

            // postWithoutBlock
            if(params != CODE_ERROR){
                // let returnVal = await common.post(API.TRADE_ACTION, params);
                let returnVal = await common.postWithoutBlock(API.TRADE_ACTION, params);
                if (!returnVal || returnVal.status !== CODE.SUCCESS){
                    common.noti("기본 거래","해당 코인에 대해 기본 거래가 불가능합니다.","error");
                    return;
                }else{
                    common.noti("기본 거래","거래 요청 완료","success");
                    return;
                }
            }
        },

        // 자전 거래 데이터 셋팅
        setDataBeforePost : (mode) => {
            if(!fncObj.validateParam()){
                return CODE_ERROR;
            }
            let inputPrice = (mode === TRADE_ACTION.BUY) ?
                $('#trade_buy_price').val() :
                $('#trade_sell_price').val();
            let inputCnt = (mode === TRADE_ACTION.BUY) ?
                $('#trade_buy_cnt').val() :
                $('#trade_sell_cnt').val();

            let body = {
                type       : mode,
                price      : dataObj.validateDot(inputPrice),
                cnt        : dataObj.validateDot(inputCnt),
                exchangeId : $('#filter_exchange').val(),
                coinWithId : $('#filter_coin').val(),
                userId     : loginUserId,
            };
            return body;
        },


        // 공통 부분
        validateParam : () => {
            if($('#filter_exchange').val() == '' || $('#filter_exchange').val() == undefined || $('#filter_exchange').val() == 'NONE'){
                return common.noti("수동 거래","상단의 거래소를 선택해주세요.","error");
            }else if($('#filter_coin').val() == '' || $('#filter_coin').val() == undefined || $('#filter_coin').val() == 'NONE'){
                return common.noti("수동 거래","상단의 코인을 선택해주세요.","error");
            }else if ($('#trade_price').val() == ''){
                return common.noti("수동 거래","가격을 입력해주세요.","error");
            }else if ($('#trade_cnt').val() == ''){
                return common.noti("수동 거래","수량을 입력해주세요.","error");
            }
            return true;
        },


        changeBuyEvent : () => {
            let price = Number($('#trade_buy_price').val());
            let cnt   = Number($('#trade_buy_cnt').val());
            $('#trade_buy_total_price').val(price * cnt);
        },

        changeSellEvent : () => {
            let price = Number($('#trade_sell_price').val());
            let cnt   = Number($('#trade_sell_cnt').val());
            $('#trade_sell_total_price').val(price * cnt);
        }

    };
    /** Function object **/



    /** Function object for data setter / getter **/
    let dataObj = {
        // 호가 리스트 조회
        setRealPriceTable : (exchange, data) => {
            let dynamicText = "";
            try{
                let limitCnt = 10;  // 기존에 10개

                ask = data.ask.slice(0,limitCnt).reverse() || []   // sell
                bid = data.bid.slice(0,limitCnt) || []             // buy

                ask.forEach(item => {
                    dynamicText += `
                    <tr>
                        <td class="text-bold ask-header">${item.price}</td>
                        <td class="text-bold ask-body">${item.qty}</td>
                        <td class="text-bold ask-body">${item.price * item.qty}</td>
                    </tr>`;
                })

                bid.forEach(item => {
                    dynamicText += `
                    <tr>
                        <td class="text-bold bid-header">${item.price}</td>
                        <td class="text-bold bid-body">${item.qty}</td>
                        <td class="text-bold bid-body">${item.price * item.qty}</td>
                    </tr>`;

                });
            }catch(e){
                // data가 빈값이 들어올 수 있는상황에 대해 catch
                // common.noti("실시간 호가 조회","코인 정보를 확인해주세요.\n 이상이 없을 시, 다시 시도해주세요.","error");
            }


            return dynamicText;
            
        },
          
        // 페이지 로드 이후, 거래소 정보 셋팅을 위한 함수
        setExchangeCoin : () => {
            $('#filter_exchange').empty();
            $('#filter_coin').empty();
            let dynamicText = "<option value='NONE'>선택</option>";
            exchangesList.forEach(exchange => {
                dynamicText += `
                    <option value=${exchange.id}>
                        ${exchange.exchangeName}
                    </option>`;
            });
            $('#filter_exchange').append(dynamicText);
        },

        validateDot : target => {
            if (target.indexOf('.') == 0){
                return `0${target}`;
            }else if (target.indexOf('.') == target.length -1){
                return `${target}0`;
            }else{
                return target;
            }
        }
    }
    /** Function object for data setter,getter **/



    // 거래소 선택 시, 코인 정보 등록
    $('#filter_exchange').on('change', () => {
        $('#filter_coin').empty();

        let selectedExchange = $('#filter_exchange').val();
        if(selectedExchange == 'NONE'){
            $('#filter_coin').empty();
        }else{
            let dynamicText = "<option value='NONE'>선택</option>";
            exchangesList.forEach(exchange => {
                if(Object.keys(exchange).length > 0){
                    if(exchange.id == selectedExchange){
                    exchange.exchangeCoin.forEach(coin => {
                        dynamicText += `
                            <option value=${coin.coinCode};${coin.id}>
                                ${coin.coinName}
                            </option>`;
                        })
                    }
                }
            })
            $('#filter_coin').append(dynamicText);
        }

        if(selectedExchange == EXCHANGE_LIST.COINONE){
            common.noti("거래소","코인원의 경우 모든 서비스는 원화 기준입니다.","success");
        }else {
            common.noti("거래소","모든 서비스는 각 코인 등록시 등록한 통화 기준입니다.","success");
        }

        clearInterval(tickSchedule);         // 기존 스케줄 정지
        clearInterval(assetSchedule);
    });

    // coin change event
    $('#filter_coin').on('change', () => {
        let selectedExchange = $('#filter_exchange').val();
        let selectedCoin     = $('#filter_coin').val();
        if($('#filter_exchange').val() == 'NONE' || $('#filter_coin').val() == 'NONE'){
            clearInterval(tickSchedule);         // 기존 스케줄 정지
            clearInterval(assetSchedule);
            fncObj.clearAsset();
            common.noti("조회", "거래소와 코인을 선택해주세요","error");
            return;
        }

        let exchange         = exchangesList.filter(x => x.id === Number(selectedExchange))[0];
        let coin             = exchange.exchangeCoin.filter(x => x.id === Number(selectedCoin.split(';')[1]))[0];
        $('#coin_user_id').text(`ID : ${coin.exchangeUserId}`);
        $('#coin_name').text(`${coin.coinCode}/${coin.currency}`);
        fncObj.onClickRealPriceBtn();
    });

    $('#trade_buy_price').on('input', fncObj.changeBuyEvent);
    $('#trade_buy_cnt').on('input', fncObj.changeBuyEvent);
    $('#trade_sell_price').on('input', fncObj.changeSellEvent);
    $('#trade_sell_cnt').on('input', fncObj.changeSellEvent);




    /** Event **/

</script>



<input type="hidden" id="server_user_id" th:value="${userId}" />
<!-- TODO :
 1. 요청 시 예외 처리-->